<template>
  <v-container>
      <search-box class="bottom-three"/>


    <v-row>
      <v-col>
        <div
          class="text-h3 mb-1"
          v-text="'Local Providers'"
        ></div>
      </v-col>
    </v-row>
    <v-row
        dense
    >
      <v-col v-for="(provider, index) in providers" :key="index" >
        <provider-card :provider="provider"/>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import ProviderCard from "@/components/Provider/ProviderCard";
import SearchBox from "@/components/home/SearchBox";
import { mapGetters } from 'vuex'

export default {
  name: "ProviderList",
  components: {
    providerCard: ProviderCard,
    searchBox : SearchBox
  },
  data() {
    return {
      providers: [
        {
          id: '1234567',
          firstName: 'Jane',
          lastName: 'Doe',
          nickname: 'nick',
          email: 'email@email',
          categories: ['Barber', 'Cosmetologist'],
          services: ['Lineup', 'Haircut', 'Beardtrim'],
          location:{
            name: 'Tuti Fruti Salon',
            address: {
              city: 'Akron',
              state:'OH'
            }
          },
          profileImage: 'https://randomuser.me/api/portraits/women/44.jpg'
        },
        {
          id: '3245',
          firstName: 'John',
          lastName: 'Doe',
          nickname: 'nick',
          email: 'email@email',
          categories: ['Cosmetologist'],
          services: ['Lineup', 'Haircut', 'Beardtrim'],
          location:{
            name: 'Kamau\'s Salon',
            address: {
              city: 'Akron',
              state:'OH'
            }
          },
          profileImage: 'https://randomuser.me/api/portraits/men/16.jpg'
        },
        {
          id: '56546',
          firstName: 'Lionel',
          lastName: 'Messi',
          nickname: 'leo',
          email: 'email@email',
          categories: ['Barber', 'Cosmetologist', 'Hairstylist'],
          services: ['Lineup', 'Haircut', 'Beardtrim'],
          location:{
            name: 'Camp Nou Salon',
            address: {
              city: 'Akron',
              state:'OH'
            }
          },
          profileImage: 'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR3fvJ6dKCa6yzCyErY7nW1wB85Xh0Z7Ck2KQ&usqp=CAU'
        },
        {
          id: '46575',
          firstName: 'Arya',
          lastName: 'Stark',
          nickname: 'don',
          email: 'don@email',
          categories: ['Hairstylist','Cosmetologist'],
          services: ['Lineup', 'Haircut', 'Beardtrim'],
          location:{
            name: 'Winterfell Salon',
            address: {
              city: 'Akron',
              state:'OH'
            }
          },
          profileImage: 'https://pyxis.nymag.com/v1/imgs/846/9bb/440e83edacba3579e42bb6ad20860b50b0-18-arya-stark.rsquare.w700.jpg'
        }
      ]
    }
  },
  computed: {
    ...mapGetters('provider',[
        'getProvidersByService'
    ])


  }
}
</script>

<style scoped>
.bottom-three {
  margin-bottom: 3cm;
}
</style>
