<template>

  <v-container class="container">
    <v-row>
      <v-img
          src="https://images.pexels.com/photos/3745234/pexels-photo-3745234.jpeg?cs=srgb&dl=pexels-alex-conchillos-3745234.jpg&fm=jpg"
          height="200px"
          width="100%"
          class="grey darken-4"
      >

      </v-img>
    </v-row>
    <v-row>
      <v-col md="4" sm="12">
          <provider-sidebar/>
      </v-col>
      <v-col md="8" sm="12">
        <provider-feed/>
      </v-col>
    </v-row>

  </v-container>
</template>

<script>
import ProviderFeed from "@/components/ProviderFeed";
import ProviderSideBar from "@/components/ProviderSideBar";

export default {
name: "ProviderView",
  components: {
    providerSidebar: ProviderSideBar,
    providerFeed: ProviderFeed
  },
  props: {
    providerId: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>

.container {
  max-width: 1250px;
  margin: 30px auto 30px;
  padding: 0 !important;
  width: 90%;
  /*background-color: #fff;*/
  /*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);*/
}
</style>
