<template>
  <div>
    <div style="text-align: center">
      <h1 class="display-3 font-weight-thin mb-3">Sheer</h1>
    </div>

    <div class="d-flex justify-center">
      <v-form>
        <v-text-field outlined label="Service" prepend-inner-icon="mdi-magnify"/>
      </v-form>
    </div>

    <div class="d-flex justify-center">
      <v-form>
        <v-combobox
            v-model="select"
            :items="items"
            label="Category"
            outlined
            dense
        />
      </v-form>
    </div>

    <div class="d-flex justify-center">
      <v-form>
        <v-text-field outlined label="Location" prepend-inner-icon="mdi-magnify"/>
      </v-form>
    </div>

    <div class="d-flex justify-center">
      <v-btn>Search</v-btn>
    </div>

  </div>
</template>

<script>
export default {
  name: "SearchBox",

  data() {
    return {
      select:'',
      items:[
          'Barber',
          'Hairstylist',
          'Cosmetologist'
      ]
    }
  }
}
</script>

<style scoped>

</style>
