<template>
  <v-app-bar
      dense
      dark
      app
      color="primary"
      absolute
  >
    <v-app-bar-nav-icon></v-app-bar-nav-icon>

    <v-toolbar-title class="logo">Aircuts</v-toolbar-title>

  </v-app-bar>
</template>

<script>
export default {
name: "AppBar"
}
</script>

<style scoped>
.logo {
  padding: 10px 20px;
  margin: 0 5px;
}
</style>
