<template>
  <div>
    <v-list-item two-line>
      <v-list-item-avatar>
        <v-icon>mdi-email</v-icon>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title>Email</v-list-item-title>
        <v-list-item-subtitle>{{info.email}}</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
    <v-list-item two-line>
      <v-list-item-avatar>
        <v-icon>mdi-cellphone</v-icon>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title>Number</v-list-item-title>
        <v-list-item-subtitle>{{info.phonenumber}}</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
  </div>

</template>

<script>
export default {
name: "ContactInfo",
  props : {
    info: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
