<template>
  <v-card
      class="mx-auto"
      width="500px"
      outlined
  >
    <v-card-title>
      Services
    </v-card-title>
    <v-list>
      <v-list-item-group>
        <v-list-item
            v-for="(service, i) in services"
            :key="i"
        >
          <v-list-item-content>
            <div>{{service.name}}</div>
            <div
                class="font-weight-thin"
            >$ {{service.price}}</div>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-card>
</template>

<script>
export default {
  name: "ProviderServices",
  data() {
    return {
      services: [{
        name: 'Haircut',
        price: 20
      },
        {
          name: 'Lineup',
          price: 10
        },
        {
          name: 'Beardtrim',
          price: 5
        }
      ]
    }
  }
}
</script>

<style scoped>

</style>
