<template>
  <v-card
    class="mx-auto"
    width="500px"
    outlined
  >
    <v-card-text align="center">
      <v-row
          align="center"
          class="fill-height"
      >
        <v-col
            align-self="center"
            class="pa-0"
            cols="12"
        >
          <v-avatar
              class="profile"
              color="grey"
              size="164"

          >
            <v-img src="https://cdn.vuetifyjs.com/images/profiles/marcus.jpg"></v-img>
          </v-avatar>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <div
            class="text-h6 mb-3"
          >
            Carles Puyol
          </div>
        </v-col>
      </v-row>

      <v-row
          align="center"
          class="fill-height"
      >
        <v-col
            align-self="center"
        >
          <v-chip-group
              active-class="deep-purple accent-4 white--text"
              column
          >
            <v-chip
                v-for="(category,i) in categories"
                :key="i"
            >{{ category }}</v-chip>
          </v-chip-group>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-list-item three-line>
            <v-list-item-avatar>
              <v-icon>mdi-briefcase-outline</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>123 Main Street</v-list-item-title>
              <v-list-item-subtitle> Miami, OH</v-list-item-subtitle>
              <v-list-item-subtitle> United States, 123456</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <contact-info :info="info"/>
        </v-col>
      </v-row>
    </v-card-text>


  </v-card>
</template>

<script>
import ContactInfo from "@/components/ContactInfo";

export default {

name: "ProviderHeader",
  data() {
  return {
    categories: [
      'Barber',
      'Cosmetologist'
    ],
    info: {
      phonenumber: 3308084561,
      email: 'carles@email.com'
    }
  }
  },
  components : {
      contactInfo: ContactInfo
  }
}
</script>

<style scoped>

</style>
