<template>
  <div>
    <v-row>
      <v-col>
        <div class="text-xl-h4 text-center font-weight-medium" >
          Past Work
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col
          md="6"
          sm="12"
      >
        <v-carousel
            cycle
        >
          <v-carousel-item
              v-for="(image, i) in images"
              :key="i"
              :src="image"
              transition="fade-transition"
          >
          </v-carousel-item>
        </v-carousel>
      </v-col>
      <v-col
          md="6"
          sm="12"
      >
        <v-card>
          <v-container>
            <v-row>

              <v-col
                  v-for="(image,i) in images"
                  :key="i"
                  class="d-flex child-flex"
                  cols="4"
              >
                <v-card flat tile class="d-flex">
                  <v-img
                      :src="image"
                      aspect-ratio="1"
                      class="grey lighten-2"
                  >
                    <template v-slot:placeholder>
                      <v-row
                          class="fill-height ma-0"
                          align="center"
                          justify="center"
                      >
                        <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                      </v-row>
                    </template>
                  </v-img>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: "ProviderFeed",
  data() {
    return {
      images:[
        'https://www.menshairstylestoday.com/wp-content/uploads/2019/02/Short-Fade-Haircut.jpg',
        'https://www.menshairstyletrends.com/wp-content/uploads/2020/07/Taper-haircut-black-Mark-Ingram-Pattycuts.jpg',
        'https://i.pinimg.com/736x/8f/4a/44/8f4a44f7be5a1643ed9f60adadc06421.jpg',
        'https://netstorage-legit.akamaized.net/images/vllkyt5am6jc2ms8m.jpg',
        'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRSyH4MuJJzU2CaLUVMhmEKu-CPIIyrhL-YUw&usqp=CAU',
        'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcThDT7wtB2BKI78-TgOipJlJp8xxvQ6h66TzQ&usqp=CAU'
      ]
    }
  }
}
</script>

<style scoped>

</style>
