<template>
<div>
  <v-row>
    <v-col>
      <provider-header class="pa-2"/>
    </v-col>
  </v-row>
  <v-row>
    <v-col>
      <provider-services class="pa-2"/>
    </v-col>
  </v-row>
  <v-row>

  </v-row>
</div>
</template>

<script>
import ProviderHeader from "@/components/ProviderHeader";
import ProviderServices from "@/components/ProviderServices";


export default {
name: "ProviderSideBar",
  components: {
    providerHeader: ProviderHeader,
    providerServices: ProviderServices
  },
  data() {
    return {

    }
  }
}
</script>

<style scoped>

</style>
