<template>
  <v-card
      class="ma-1"
      width="350px"
  >
    <div class="d-flex flex-no-wrap justify-space-between">
      <v-avatar
          class="ma-3"
          size="125"
          tile
      >
        <v-img :src="provider.profileImage"></v-img>
      </v-avatar>

      <div>
        <v-card-title>{{ provider.firstName }}  {{this.provider.lastName}}</v-card-title>

        <v-card-subtitle class="subtitle-1"> {{provider.location.name}}</v-card-subtitle>

        <div >
          {{provider.location.address.city}},{{provider.location.address.state}}</div>

        <v-card-text>


          <!--<v-row
              align="center"
              class="mx-0"
          >
            <v-rating
                :value="4.5"
                color="amber"
                dense
                half-increments
                readonly
                size="14"
            ></v-rating>

            <div class="grey&#45;&#45;text ml-4">
              4.5 (413)
            </div>
          </v-row>-->
        </v-card-text>
        <v-card-actions>
          <v-btn
              color="deep-purple lighten-2"
              outlined
              :to="{
        name:'ProviderView',
        params:{
          providerId: provider.id
        }
      }"
          >
            Book
          </v-btn>
        </v-card-actions>
      </div>
    </div>







  </v-card>
</template>

<script>
export default {
name: "ProviderCard",
  data () {
    return {
      categories: [
          'Barber',
          'Cosmetologist'
      ]
    }
  },
  props: {
    provider: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>
ul#menu li {
  display:inline;
}
</style>
